li.trrequest-locked { 
    background-color: #777777; 
    opacity: 0.2 !important;
}

.tr-translateform-relatedTemplate{
    background-color: #fff;
}

.op-stage {
    overflow-y: auto !important;
}   

.nobgcolor {
    background-color:transparent !important;
}

/* Left menu */
.op-list li i {
    float: left;
    margin: 3px 6px 3px 0;
    font-size: 35px;
}

/* Language Selector */
.language-selector {
    width: 100% !important;
}

.tr-languageselector, .tr-instructionsPanel {
    padding-left: 15px;
    padding-right: 15px;
}

/* Button */
.tr-translateform-button {
    width: 100%;
    text-align: right;   
}

