li.trrequest-locked { 
    background-color: #777777; 
    opacity: 0.2 !important;
}

.tr-translate-body {
    background-color: #fff;
}

.nobgcolor {
    background-color:transparent !important;
}

/* Left menu */
.tr-pendingtransactions .op-list li i {
    float: left;
    margin: 3px 6px 3px 0;
    font-size: 35px;
}

.tr-pendingtransactions .op-widget-body,
.pa-pendingtransactions .op-widget-body {
    margin-left: 15px;
}

.opsportal-area-tool-ProcessTranslation .op-stage {
    margin-top: 10px !important;
    padding-top: 10px !important;	
}

li.active {
    font-weight: normal !important;
}

.op-widget-footer{
    background-color: #555;
}

/* Language Selector */
.language-selector {
    width: 100% !important;
}

.tr-languageselector {
    height: 40px;
}

.tr-languageselector, .tr-instructionsPanel {
    padding-left: 15px;
    padding-right: 15px;
}

/*Form*/
.tr-translate-body .col-xs-6 {
	margin-top: 10px;
}

.tr-optionalinfo {
	padding: 15px 15px 0 15px;
}

.tr-translate-body {
	background: transparent !important;
}

/* Button */
.tr-translateform-button {
    width: 100%;
    text-align: right;   
}


