<!-- 
#  Appdev Label Info:
#label_context:opstool-ProcessTranslation
#language_code:en
-->


<!-- Widget -->

<div class='col-xs-2 op-container'>
    <!--Left bar-->
    <div class="op-container op-widget sticky tr-pendingtransactions">
        <div class="op-widget-masthead">
            <h3><strong app-label-key="trrequest.PendingTransactions.header">Pending Transactions</strong></h3>
            <p app-label-key="trrequest.PendingTransactions.description">Choose one of the pending transactions to review</p>
        </div>
        <div class="op-widget-body">
            <ul class="op-list">
                <!-- 
                          data.attr('listTransactions').each(function(item) { 

                            var menuData = item.objectData.menu; 
                            var formData = item.objectData.form.data;

                            var active = '';
                            if (data.selectedItem && data.selectedItem.getID() == item.getID()) {
                              active = 'active';
                            }

                          -->
                <li mockup-show="new-activity" class="op-container selected [[= active ]]" trrequest-id="[[= item.getID() ]]" obj-embed="item">
                    <i class="fa [[= menuData.icon ]]"></i>
                    <div><strong app-label-key="[[= menuData.action.key ]]">[[= menuData.action.key ]]</strong>
                        <br>
                        <span><span app-label-key="trrequest.languageSelector.from">From</span>: [[= menuData.fromLanguage ]]</span>
                        <br>
                        <span><span app-label-key="trrequest.languageSelector.to">To</span>: [[= menuData.toLanguage ]]</span>
                    </div>
                </li>
                <!--
                    });
                    -->
            </ul>
        </div>
    </div>
    <!--/Left bar-->
</div>

<!-- Main stage area -->
<div class='col-xs-10 op-container op-stage op-block'>
    <div class="op-margin-bottom tr-languageselector">
    </div>

    <div class="op-container mockup-display new-activity">
        <div class="op-container">
            <div class="workspace col-lg-12 op-margin-bottom tr-translateworkspace">
                <div class="mockup-display new-activity opsportal-content-area tr-instructionsPanel">
                    <p app-label-key="trrequest.selectOne"> Select an entry on the left to begin editing. </p>
                </div>

                <!-- if(typeof transaction !== 'undefined' && transaction !== null) { -->
                <div class="op-widget-masthead tr-translateform-panel">
                    <h3><i class="fa fa-4x [[= transaction.objectData.menu.icon ]]"></i>
	                  <strong app-label-key="[[= transaction.objectData.menu.action.key ]]" style="vertical-align: top;">[[= transaction.objectData.menu.action.key ]]</strong>
	                </h3>
                    <div class="op-container op-margin-top">
                        <div class="op-widget tr-translate-body">
                            <div class="op-container op-widget-body">
                                <div class="op-container tr-optionalinfo">
                                </div>
                                <div class="op-container">
                                    <div class="col-xs-6">
                                        <!-- data.fields.each(function(field, fieldName) { -->
                                        <div class="op-container">
                                            <div class="form-group">
                                                <label>
                                                    [[= data.labels[fieldName][languageData.attr('fromLanguageCode')] ]] :
                                                </label>
                                                <textarea name="[[= fieldName + '.' + languageData.attr('fromLanguageCode') ]]" readonly class="form-control tr-field-data"
                                                rows="3">[[= field.attr(languageData.attr('fromLanguageCode')) ]]</textarea>
                                            </div>
                                        </div>
                                        <!-- }); -->
                                    </div>
                                    <div class="col-xs-6 tr-translateform">
                                        <!-- data.fields.each(function(field, fieldName) { -->
                                        <div class="op-container">
                                            <div class="form-group">
                                                <label>
                                                    [[= data.labels[fieldName][languageData.attr('toLanguageCode')] ]] ：</label>
                                                <textarea name="[[= fieldName + '.' + languageData.attr('toLanguageCode') ]]" class="form-control tr-field-data" rows="3">[[= field.attr(languageData.attr('toLanguageCode')) ]]</textarea>
                                            </div>
                                        </div>
                                        <!-- }); -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="op-container nobgcolor op-margin-top tr-translateform-button">
                        <button tr-status="cancel"  class="tr-translateform-submit btn btn-warning offset-15" type="submit"><span app-label-key="trrequest.buttons.cancel">Cancel</span></button>
                        <button tr-status="save" app-label-key="trrequest.buttons.save" class="tr-translateform-submit btn btn-info offset-15" type="submit"><i class="fa"></i>Save</button>
                        <button tr-status="accept" app-label-key="trrequest.buttons.accept" class="tr-translateform-submit btn btn-success" type="submit"><i class="fa"></i>Accept</button>
                    </div>
                </div>
                <!-- } -->
            </div>
        </div>
    </div>
</div>