<!-- Widget -->

<div class='col-xs-2 op-container' style='padding-left: 0px;'>
    <!--Left bar-->
    <div class="op-container op-widget sticky tr-pendingtransactions">
        <div class="op-widget-masthead">
            <h3><strong>Pending Transactions</strong></h3>
            <p>Choose one of the pending transactions to review</p>
        </div>
        <div class="op-widget-body">
            <ul class="op-list">
                <!-- 
                          items.forEach(function(item) { 

                            var menuData = item.objectData.menu; 
                            var formData = item.objectData.form.data;
                            if (!menuData) {
                              menuData = item.objectData.objectData.menu;
                            }

                            var active = '';
                            if (data.selectedRequest && data.selectedRequest.getID() == item.getID() ) {
                              active = ' active ';
                            }

                          -->
                <li mockup-show="new-activity" class="op-container selected" trrequest-id="[[= item.getID() ]]" obj-embed="item">
                    <i class="fa [[= menuData.icon ]]"></i>
                    <div><strong>[[= menuData.action.key ]]</strong>
                        <br>
                        <span>From: [[= menuData.fromLanguage ]]</span>
                        <br>
                        <span>To: [[= menuData.toLanguage ]]</span>
                    </div>
                </li>
                <!--
                    });
                    -->
            </ul>
        </div>
        <div class="op-widget-footer">
            <a class="op-toggle" href="#" title="appDev Designs">
                <img src="/images/appdev_logo_white.png" style="width: 70px; height: auto;">
            </a>
        </div>
    </div>
    <!--/Left bar-->

</div>

<!-- Main stage area -->
<div class='col-xs-10 op-container op-stage'>
    <div class="op-margin-bottom tr-languageselector">
    </div>

    <div class="op-container mockup-display new-activity">
        <div class="op-container">
            <div class="workspace col-lg-12 op-margin-bottom tr-translateworkspace">
                <div class="mockup-display new-activity opsportal-content-area tr-instructionsPanel">
                    <p> Select an entry on the left to begin editing. </p>
                </div>

                <!-- if(typeof transaction !== 'undefined' && transaction !== null) { -->
                <div class="op-widget-masthead tr-translateform">
                    <h3><i class="fa fa-4x [[= transaction.objectData.menu.icon ]]"></i>
	                  <strong style="vertical-align: top;">[[= transaction.objectData.menu.action.key ]]</strong>
	                </h3>
                    <div class="op-container op-block-border op-margin-top op-widget tr-translateform-relatedTemplate">
                    </div>

                    <div class="op-container nobgcolor op-margin-top tr-translateform-button">
                        <button class="tr-translateform-submit btn btn-warning offset-15" type="submit" tr-status="cancel">Cancel</button>
                        <button class="tr-translateform-submit btn btn-info offset-15" type="submit" tr-status="save"><i class="fa"></i>Save</button>
                        <button class="tr-translateform-submit btn btn-success" type="submit" tr-status="accept"><i class="fa"></i>Accept</button>
                    </div>
                </div>
                <!-- } -->
            </div>
        </div>
    </div>
</div>