<div class="form-inline">
    <div class="col-xs-6">
        <label app-label-key="trrequest.languageSelector.from" for="translateFromLanguage">From :</label>
        <select id="translateFromLanguage" trrequest-trans="fromLanguage" class="form-control input-sm language-selector">
            <% for (var code in fromLanguagesList.attr()) { %>
                <option value="<%= code %>">
                    <%= fromLanguagesList[code] %>
                </option>
                <% } %>
        </select>
    </div>
    <div class="col-xs-6">
        <label app-label-key="trrequest.languageSelector.to" for="translateToLanguage">To :</label>
        <select id="translateToLanguage" trrequest-trans="toLanguage" class="form-control input-sm language-selector">
            <% for (var code in toLanguagesList.attr()) { %>
                <option value="<%= code %>">
                    <%= toLanguagesList[code] %>
                </option>
                <% } %>
        </select>
    </div>
</div>